@use '../abstract/Index.module.scss' as *;

.heroContainer {
  position: relative;
  width: 100%;
  margin-top: 4em;
  
  .heroImgContainer {
    width: 100%;
    height: 40vh;
    box-shadow: 10em 4px 10em rgba(0, 0, 0, 0.50) inset;
    background-image: url('../../assets/heroImg.jpg');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 0 55%;
    
    @include laptop {
      height: 60vh;

    }
  }
  
}

.heroText {
  @include font(inherit, $xsSize, $whiteFont);
  text-align: left;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  padding: 1em;
  ;

  button {
    @include button(10em,
      $orangeBg,
      $whiteFont,
      $navFont);
      margin-top: 1rem;
      margin-inline: 0;
  }
}