@use '../abstract/Index.module.scss' as *;

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $footerBg;
  @include font($franklinGothic, $xsSize, $whiteFont);

  @include laptop {
      align-items: center;
      width: 100%;
      display: inline-grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0px 0px;
      grid: none;
  }
  
  & > div {
    display: flex;
    padding-block: 3em;
    
    
    a{
      @include font($sansSerif, $xsSize, $whiteFont);
      font-weight: lighter;
      text-decoration: none;
      list-style: none;
      
    }
  }
  .contactIcons {
    gap: 2em;
    display: flex;

    @include laptop {
        flex-direction: column;
      }

    @include laptop {
      grid-area: 1 / 3 / 1 / 4;
    }
    
    div {
      display: flex;
      flex-direction: column;
      gap: 1em;
      @include laptop {
        flex-direction: row;
      }
    }
    
  }
    hr {
      position: relative;
      background-color: #E7E8EA;
      width: 80%;
      opacity: 0.2;
      margin: 0;
      
      @include laptop {
          height: 45vh;
          grid-area: 1 / 3 /1 / 2;
          width: auto;
          margin-inline: 3em;
        }
    }

    .socialFooter {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
      padding-bottom: 3em;

      .imgContainer {
        display: flex;
        justify-content: center;
        width: 100%;
        
        @include laptop {
          min-width: 100%;
        }
        
        img {
          object-fit: cover !important;
          display: block ;
        }
      }

      .footprint {
        display: flex;


        & div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3em;
          height: 3em;
          padding: 1em;
          border-radius: 50%;
          border: solid 1px $lightGrayBg;
          margin-inline: 1em;
        }
      }
    }
}