@use '../abstract/Index.module.scss' as *;

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $footerBg;
  @include font($franklinGothic, $xsSize, $whiteFont);
  
  & > div {
    display: flex;
    padding-block: 3em;
    
    
    a{
      @include font($sansSerif, $xsSize, $whiteFont);
      font-weight: lighter;
      text-decoration: none;
      list-style: none;
      
    }
  }
  .contactIcons {
    gap: 2em;
    display: flex;
    
    div {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
  }
    hr {
      position: relative;
      background-color: #E7E8EA;
      width: 80%;
      opacity: 0.2;
      margin: 0;
    }

    .socialFooter {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
      padding-bottom: 3em;

      .imgContainer {
        display: flex;
        justify-content: center;
        width: 100%;
        
        img {
          object-fit: cover !important;
          display: block ;
        }
      }

      .footprint {
        display: flex;

        & div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3em;
          height: 3em;
          padding: 1em;
          border-radius: 50%;
          border: solid 1px $lightGrayBg;
          margin-inline: 1em;
        }
      }
    }
}