@use '../abstract/Index.module.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

.successContainer {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 10vh;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  overflow-y: auto;
  padding: .5rem;
  padding-bottom: 6.7rem;
  z-index: 10000;

  .messageBox {
    display: flex;
    height: 50vh;
    flex-direction: column;
    background-color: $whiteFont;
    align-items: center;
    border-radius: 10px;
    width: 90%;
    max-width: 425px;
    box-shadow: 0 10px 20px 0 rgba(#999, .25);
    padding: .75rem;
    @include font($fugazOne, $mdSize, $darkBlueFont);
    
    @include laptop {
      max-width: 525px;
      height: 70vh;
      padding-bottom: 2em;
    }
    
    p {
      padding-block: 1em;
      text-align: center;
      @include font(inherit, $xsSize, $grayFont);
    }
    button {
      border-radius: 10px;
      @include button(fit-content, inherit, $whiteFont, $mdSize);
      border: none;
      padding: .3rem .8rem;
    }

    .imgContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40%;
      text-align: center;
    }
  }
}

.isActive {
  display: flex;
}