@use '../abstract/Index.module.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-inline: auto;
  font-family: 'Fugaz One', sans-serif;
  background-color: $blueBg;
  
  div:nth-of-type(1) {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $lightGrayBg;

    a {
      text-decoration: none;
      color: $darkBlueFont;
    }
  }
  
  div:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    padding-block: 1.5rem;
    align-items: center;
    height: 5vh;
    width: 90%;
    
    div:nth-of-type(1) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: .5rem;
      background-color: transparent !important;
    }
    
    button:nth-of-type(2) {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      width: fit-content;
      cursor: pointer;
      text-align: center;
    }
  }
  
}