@use '../abstract/Index.module.scss' as *;

.card {
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  background-color: #FFF;
  box-shadow: 0 10px 20px 0 rgba(#999, .25);
  padding: .75rem;
  
  @include laptop {
    max-width: 350px;
  }

  .cardImage {
    display: grid;
    position: relative; 
    border-radius: 8px;
    
    img {
      height: 100% !important;
    }
    
    .cardHeading {
      box-shadow: inset 75px 1px 190px rgb(0 0 0 / 70%);
      position: absolute;
      width: 100%;
      height: 100%;
      font-weight: 700;
      line-height: 1.222;
      
      h2 {
        position: absolute;
        @include font($fugazOne, $xlSize, $lightGrayBg);
        top: 15%;
        left: 5%;
      }
      
      @include laptop {
        font-size: $xlSize;
      }
      
      small {
        display: block;
        @include font(inherit, $xsSize, $lightGrayBg);
        font-weight: 400;
        margin-top: .50em;
      }
    }
  }

}
  
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    font-family: $franklinGothic;
    border-radius: 10px;
    position: relative;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    
    @include laptop {
      width: 50%;
      padding-block: 1em;
      padding-inline: 3em;
    }
    
    select:invalid {
      color: $grayFont;
    }
    
      input[type="date"]:valid::-webkit-datetime-edit {
        color: #000000;
      }
  
      h3 {
        color: $darkBlueFont;
        margin-left: .8rem;
      }
  
    .formControl {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 auto;
      padding: .8rem;
    }
  
    .inputLabel {
      @include font(inherit, $xsSize, $darkBlueFont);
      transition: .25s ease;

    }
  
    .inputField {
      border: 0;
      z-index: 1;
      background-color: transparent;
      border-bottom: 2px solid #eee;
      @include font(inherit, $mdSize, inherit);
      padding: .80rem 0;

      @include laptop {
          font-size: $navFont;
        }
      
      & * {
        @include font(inherit, $xsSize, inherit);
      }
  
      &:focus,
      &:valid {
        outline: 0;
        border-bottom-color: $green;
      }

  
    }
      .inputField::placeholder, textarea::placeholder, input[type="date"]::-webkit-datetime-edit-text,
      input[type="date"]::-webkit-datetime-edit-month-field,
      input[type="date"]::-webkit-datetime-edit-day-field,
      input[type="date"]::-webkit-datetime-edit-year-field, input[type=date]:invalid::-webkit-datetime-edit  {
      @include font($sansSerif, $footprintFont, $grayFont);
      font-weight: 600;    
    }
  
      .actionBtn {
        margin-top: 2rem;
        margin-inline: auto;
        position: relative;
        @include font(inherit, $mdSize, $whiteFont);
        padding: 1rem;
        width: 80%;
        font-weight: 500;
        border-radius: 6px;
        background-color: $orangeBg;
        border: 0;
        
        @include laptop {
          width: 50%;
        }
    
        &:focus {
          outline: 0;
        }
      }
    .terms {
      padding: 1rem 1rem;
      text-align: center;
      @include font(inherit, $xsSize, #8597a3);

      @include laptop {
        font-size: $footprintFont;
      }
  
      a {
        display: block;
        color: #6658d3;
        text-decoration: none;
      }
    }
  }
/* } */


