@use '../abstract/Index.module.scss' as *;

.card {
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 525px;
  background-color: #FFF;
  box-shadow: 0 10px 20px 0 rgba(#999, .25);
  padding: .75rem;

  .cardImage {
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 65%;
    background-image: url('../../assets/presupuesto.jpg');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 0 55%;
    box-shadow: inset 190px 1px 75px rgba(0, 0, 0, 0.68);
    position: relative;
    
    .cardHeading {
      position: absolute;
      left: 10%;
      top: 15%;
      right: 10%;
      @include font(inherit, $xlSize, $lightGrayBg);
      font-weight: 700;
      line-height: 1.222;
    
      small {
        display: block;
        @include font(inherit, $xsSize, $lightGrayBg);
        font-weight: 400;
        margin-top: .50em;
      }
    }
  }

}
  
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    font-family: $franklinGothic;
    border-radius: 10px;
    position: relative;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    
    @include laptop {
      padding-block: 1em;
      padding-inline: 3em;
    }
    
    select:invalid {
      color: $grayFont;
    }
    
      input[type="date"]:valid::-webkit-datetime-edit {
        color: #000000;
      }
  
      h3 {
        color: $darkBlueFont;
        margin-left: .8rem;
      }
  
    .formControl {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 auto;
      padding: .8rem;
    }
  
    .inputLabel {
      @include font(inherit, $mdSize, $darkBlueFont);
      transition: .25s ease;

    }
  
    .inputField {
      border: 0;
      z-index: 1;
      background-color: transparent;
      border-bottom: 2px solid #eee;
      @include font(inherit, $mdSize, inherit);
      padding: .80rem 0;
      
      & * {
        @include font(inherit, $xsSize, inherit);
      }
  
      &:focus,
      &:valid {
        outline: 0;
        border-bottom-color: $green;
      }

  
    }
      .inputField::placeholder, textarea::placeholder, input[type="date"]::-webkit-datetime-edit-text,
      input[type="date"]::-webkit-datetime-edit-month-field,
      input[type="date"]::-webkit-datetime-edit-day-field,
      input[type="date"]::-webkit-datetime-edit-year-field, input[type=date]:invalid::-webkit-datetime-edit  {
      @include font($sansSerif, $footprintFont, $grayFont);
      font-weight: 600;    
    }
  
      .actionBtn {
        margin-top: 2rem;
        margin-inline: auto;
        position: relative;
        @include font(inherit, $mdSize, $whiteFont);
        padding: 1rem;
        width: 90%;
        font-weight: 500;
        border-radius: 6px;
        background-color: $orangeBg;
        border: 0;
        
        @include laptop {
          width: 50%;
        }
    
        &:focus {
          outline: 0;
        }
      }
    .terms {
      padding: 1rem 1rem;
      text-align: center;
    
      @include font(inherit, $xsSize, #8597a3);
  
      a {
        display: block;
        color: #6658d3;
        text-decoration: none;
      }
    }
  }
/* } */


