@use '../abstract/Index.module.scss' as *;


.card {
  display: block;
  flex-direction: column;
  flex: 1 280px;
  justify-content: space-between;
  align-self: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 2em;
  transition: all .5s ease-in-out;
  overflow: hidden !important;
  border-radius: 2em 0.5em 2em 0.5em;
  max-width: 30rem;
  max-height: 40em;
  
  
  &:hover {
    scale: 1.05;
  }
  
  .imgWrapper {
    display: grid;
    height: 10em;
    margin-bottom: .5em;
    
    & > img {
      overflow: hidden !important;
      width: 100% !important;
      height: auto !important;
    }
  }
  
  .textsWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-inline: 2em;
    margin-top: auto;
    
    & h2 {
      @include font($fugazOne, $mdSize, $grayFont);
      
    }

    & > span {
      width: 5em;
      height: 0.2em;
      background-color: $orangeBg;
      position: relative;
      transform: rotateZ(2deg);
      margin-bottom: 0.5em;
    }
    
    & p {
    @include font($fugazOne, $xsSize, $darkBlueFont);
    
    }
  }
}