@use '../abstract/Index.module.scss' as *;

.serviceSection {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: .2em;
  margin-inline: auto;
  margin-top: 2em;
  
  @include large {
    width: 80%;

  }
  
  .cardWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2em;
    }
  
  .title {
    @include font($fugazOne, $mdSize, $darkBlueFont );
    border-left: .2em solid $orangeBg;
    padding-left: .2em;
    margin-bottom: 1em;
    text-align: left;
  }
}