
$xsSize:clamp(.75rem,
  3vw,
  1.75rem);
$mdSize: clamp(1rem, 5vw, 2rem);
$xlSize: clamp(1.75rem, 8vw, 2.75rem);
/*
Presupuesto
1.75rem
.75em
1rem
1.25rem
.8rem 

HeroImg
1rem

ModalPortal
font-size: .8rem;

Button
.7rem
*/